<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        html,
        body,
        #heatmap-container {
            height: 100%;
            margin: 0;
            padding: 5px;
            position: static !important;
        }

        .control-panel {
            position: absolute;
            z-index: 100;
        }

        .filter {
            display: flex;
            padding: 5px 0;
        }

        .label {
            width: 100px;
        }
    </style>
</head>

<body>
    <div id="heatmap-container">
        <div class="content">
            <h1>Welcome to Click Heat Dashboard</h1>
            <h3>Click on this page anywhere to register your clicks. Once done reload the page to see your clicks :)</h3>
        </div>
        <div class="control-panel">
            <div class="filter">
                <div class="label">Screen Size</div>
                <div>
                    <select id="screen-size">
                        <option value="240">240</option>
                        <option value="640">640</option>
                        <option value="800">800</option>
                        <option value="1024">1024</option>
                        <option value="1152">1152</option>
                        <option value="1280">1280</option>
                        <option value="1440" selected>1440</option>
                        <option value="1600">1600</option>
                        <option value="1800">1800</option>
                    </select>
                </div>
            </div>
            <!-- <div class="filter">
                <div class="label">Start Date</div>
                <div><input id="startDate" type="date" /></div>
            </div>
            <div class="filter">
                <div class="label">End Date</div>
                <div><input id="endDate" type="date" /></div>
            </div> -->
            <div class="filter">
                <button id="submit">Submit</button>
            </div>
        </div>
    </div>
</body>

</html>